.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 550px;
    border:5px solid black;
}


.child {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    
}