.parent {
    position: relative;

}


img {
    width: 70px;
}

.red-circle {
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 50px;
    left: 50px;
}